/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

body {
  font-family: 'Arimo', Verdana, Helvetica, sans-serif;
}

h1,h2 {
  font-family: 'Pacifico', Georgia, serif;
}

#martha_graham {
  height: 156px;
  width: 403px;
  position: relative;
  background-image: url("graham11-hp-start.png")
      }

      .frame{
        position: absolute;
        background-image: url("http://www.google.com/logos/2011/graham11-hp-sprite.png");
        background-repeat: no-repeat;

}

/* -----------------------------------------
 * 
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


